mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap: 0.5rem;

        // .button {
        //     display: flex;
        //     gap: 0.5;
        // }

        .brand {
            display: flex;
            // default flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: white;
            // padding: 0.5rem;
            // gap: 0.5rem;
            // margin: 0.5rem;
        }
    }

    .right {
        // color: black;
        display: flex;
        gap: 1 rem;
        // flex-direction: row;
        // justify-content: space-evenly;
        // align-items: center;

        .menu-button {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

::ng-deep .mat-menu {

    width: auto;

    .user-info {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2rem;

        * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile-image {
            
            * {
                margin: 0;
            }

            font-size: 3rem;
            background-color: blueviolet;

            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            box-shadow: 4px 4px 4px rgb(145, 145, 145);
        }

        .email {
            color: gray;
        }
    }

    .logout {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mat-list {
        padding: 0;
        margin: 0;

        mat-list-item {
            padding: 0;
        }

        .menu-items {
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 47px;
            padding-left: 1rem;

            &:hover {
                background-color: pink;
                cursor: pointer;
            }
        }
    }
}