<form [formGroup]="lohinFg" (ngSubmit)="lohinFg.valid && login()">
    <div class="content">
        <h1>Login Page</h1>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="emailCtrl" label="Email" placeholder="Your Email" matInput>
            <mat-hint>Enter your email</mat-hint>
            <mat-error *ngIf="EmailCtrl.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="EmailCtrl.hasError('pattern')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="passwordCtrl" label="Password" placeholder="Your Password" matInput>
            <mat-hint>enter a password between 7 and 20 characters</mat-hint>
            <mat-error *ngIf="PasswordCtrl.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="PasswordCtrl.hasError('minlength')">It's too short. Min: 7 characters</mat-error>
            <mat-error *ngIf="PasswordCtrl.hasError('maxlength')">It's too long. Max: 20 characters</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="lohinFg.invalid" mat-raised-button color="primary">Login</button>

        <p *ngIf="apiErrorMessage">{{apiErrorMessage}}</p>
    </div>
</form>

<button (click)="getState()">State</button>
<p>{{lohinFg.value | json}}</p>
